@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.wrapper {
  border-left: $border-line;
  padding-left: 2.4rem;
  margin-left: 2.4rem;
}

.title {
  @include title-2;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.item {
  color: $color-dark;
}

.article-title {
  @include title-3;
}

.perex {
  @include text-2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  line-clamp: 3;
  margin-top: 0.8rem;
  overflow: hidden;
}