:root {
  font-size: 62.5%; // 1rem = 10px  
}

body {
  @include themify('background-color', 'bg-primary');
  @include themify('color', 'text-primary');
  @include title-1;
}

a {
  @include themify('color', 'link');
  text-decoration: none;
  opacity: 1;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}