:root {
  font-size: 62.5%; // 1rem = 10px  
}

body {
  background-color: $color-bg-primary;
  color: $color-text-primary;
  @include title-1;
}

a {
  text-decoration: none;
}

main {
  @include container;
}