$font-primary: 'Helvetica Neue', 'sans-serif';

$border-radius-sm: 0.4rem;
$border-radius-md: 0.8rem;
$border-radius-circle: 50%;

$themes: (
  light: (
    primary: #007BFF,
    secondary: #FFFFFF,
    bg-primary: #FFFFFF,
    bg-secondary: #F8F9FA,
    text-primary: #212529,
    text-secondary: #6C757D,
    link: #2B7EFB,
    danger: #dc3545,
    success: #28a745,
    warning: #ffc107,
    info: #17a2b8
  )
);