@import '~/styles/variables';
@import '~/styles/mixins';

.button {
  @include rounded-sm;
  @include hover;
  border: none;
  width: fit-content;
  height: fit-content;
}

.small {
  @include text-2;
  padding: 0.6rem 1.2rem;
}

// .medium {

// }

.textDanger {
  background-color: $color-secondary;
  color: $color-danger;
}

.textPrimary {
  background-color: $color-secondary;
  color: $color-primary;
}

// .warning {

// }

// .info {

// }

.primary {
  background-color: $color-primary;
  color: $color-secondary;
}