@import '~/styles/variables';
@import '~/styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
}

.wrapper {
  @include container;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
}

.title {
  @include title-1;
}